# Temp processing folders
temp_faces/
temp_frames/
backend/temp_faces/
backend/temp_frames/

# Bolt editor
.bolt/

# AI test datasets - DO NOT PUSH
backend/AI_modules/kaggle_data/
backend/AI_modules/real/
backend/AI_modules/eval_results/
backend/AI_modules/ai/

# Python cache
__pycache__/
*.pyc

# Uploaded media
backend/uploads/

# Debug file
backend/debug.py
node_modules
