@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply font-sans antialiased;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-purple-400 to-teal-400 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply from-purple-500 to-teal-500;
  }
}

@layer utilities {
  .snap-y {
    scroll-snap-type: y mandatory;
  }

  .snap-start {
    scroll-snap-align: start;
  }

  .snap-always {
    scroll-snap-stop: always;
  }
}
